@model SalesPlanningMonitorng.Penjualan
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSales.cshtml";
}
<!-- container-slide -->
<div class="uk-container-center uk-width-medium-3-4 cs-containter-heigth">

    <!-- mobile-navbar -->
    <nav class="uk-navbar uk-margin-large-bottom uk-hidden-large ">
        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
        <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Sales Planning and Monitoring</div>
    </nav>
    <!-- end-mobile-navbar -->
    <!-- container-slide-container -->
    <div class="uk-grid uk-margin-right uk-margin-small-left uk-margin-large-top uk-margin-large-bottom" data-uk-grid-margin="">

        <!-- form-pengisian-barang -->
        <div class="uk-width-medium-1-1">
            <div class="uk-panel uk-panel-header">

                <h3 class="uk-panel-title">Input Penjualan</h3>

                <!-- tabel-penjualan -->
                <div class="uk-overflow-container uk-margin-large-top">
                    <div class="uk-form uk-form-stacked">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()


                            @Html.ValidationSummary(true)



                            <div class="uk-form-row">
                                <label class="uk-form-label">Nama Barang</label>
                                <div class="uk-form-controls">
                                    @Html.DropDownList("id_barang", String.Empty)
                                    @Html.ValidationMessageFor(model => model.id_barang)
                                </div>
                            </div>
                            
                            <div class="uk-form-row">
                                <label class="uk-form-label">Nama Barang</label>
                                <div class="uk-form-controls">
                                    @Html.DropDownList("id_toko", String.Empty)
                                    @Html.ValidationMessageFor(model => model.id_toko)
                                </div>
                            </div>
                            
                            <div class="uk-form-row">
                                <label class="uk-form-label">Nama Barang</label>
                                <div class="uk-form-controls">
                                    @Html.DropDownList("id_karyawan", String.Empty)
                                    @Html.ValidationMessageFor(model => model.id_karyawan)
                                </div>
                            </div>

                            <div class="uk-form-row">
                                <label class="uk-form-label">Harga Barang</label>
                                <div class="uk-form-controls">
                                    @Html.EditorFor(model => model.tanggal_transaksi, new { @class = "uk-width-1-1" })
                                    @Html.ValidationMessageFor(model => model.tanggal_transaksi)
                                </div>
                            </div>

                            <div class="uk-form-row">
                                <label class="uk-form-label">Kategori</label>
                                <div class="uk-form-controls">
                                    @Html.TextBoxFor(model => model.jumlah_total, new { @class = "uk-width-1-1" })
                                    @Html.ValidationMessageFor(model => model.jumlah_total)
                                </div>

                            </div>

                            <div class="uk-form-row uk-margin-bottom">
                                <div class="uk-form-controls">
                                    <button class="uk-button uk-button-primary uk-hidden-small" type="submit">Submit</button>

                                    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1 uk-hidden-large uk-hidden-medium ukk-visible-small" type="submit">Submit</button>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
            <!-- end-form-pengisian-barang -->

        </div>


    </div>

